.nav-col{
/*    background-color: orchid;
    opacity: 0.7;*/
}
.search-box-position{
    
    padding: 5%;
}
.no-margin{
    
    margin: 0px;
}
.no-padding {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.font-large {
    font-size: 50px;
}

.font-medium {
    font-size: 25px;
}

.form-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.initialmap{
    width: 600px;
    height: 500px;
    margin-top: 2em;
    margin: 0 auto 0 auto;
}

html, body {
    height: 100%;
    margin: 0;
    /*background-repeat: no-repeat;*/
}

nav{
    
/*    background-color: #8b1014;
    opacity: 0.9;
    height: 10px;*/
    
}

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url(../media/backgrounds/b6.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 10%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

    .nav>li>a {
        padding: 35px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

/*Hover Effect 
Start Here*/

.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.view {
  overflow: hidden;
  position: relative;
  cursor: default;
}

.view .mask,
.view .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.view img {
  display: block;
  position: relative;
}

.overlay:hover .mask {
  opacity: 1;
}

.overlay img {
  transition: all 0.2s linear;
}

.overlay .mask {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}


.hm-blue-light .mask {
  background-color: rgba(3, 169, 244, 0.3);
}

.hm-red-light .mask {
  background-color: rgba(244, 67, 54, 0.3);
}

.hm-pink-light .mask {
  background-color: rgba(233, 30, 99, 0.3);
}

.hm-purple-light .mask {
  background-color: rgba(156, 39, 176, 0.3);
}

.hm-indigo-light .mask {
  background-color: rgba(63, 81, 181, 0.3);
}

.hm-cyan-light .mask {
  background-color: rgba(0, 188, 212, 0.3);
}

.hm-teal-light .mask {
  background-color: rgba(0, 150, 136, 0.3);
}

.hm-green-light .mask {
  background-color: rgba(76, 175, 80, 0.3);
}

.hm-lime-light .mask {
  background-color: rgba(205, 220, 57, 0.3);
}

.hm-yellow-light .mask {
  background-color: rgba(255, 235, 59, 0.3);
}

.hm-orange-light .mask {
  background-color: rgba(255, 152, 0, 0.3);
}

.hm-brown-light .mask {
  background-color: rgba(121, 85, 72, 0.3);
}

.hm-grey-light .mask {
  background-color: rgba(158, 158, 158, 0.3);
}

.hm-bluegrey-light .mask {
  background-color: rgba(96, 125, 139, 0.3);
}

.hm-black-light .mask {
  background-color: rgba(0, 0, 0, 0.3);
}

.hm-stylish-light .mask {
  background-color: rgba(62, 69, 81, 0.3);
}

.hm-white-light .mask {
  background-color: rgba(255, 255, 255, 0.3);
}

.hm-blue-strong .mask {
  background-color: rgba(3, 169, 244, 0.7);
}

.hm-red-strong .mask {
  background-color: rgba(244, 67, 54, 0.7);
}

.hm-pink-strong .mask {
  background-color: rgba(233, 30, 99, 0.7);
}

.hm-purple-strong .mask {
  background-color: rgba(156, 39, 176, 0.7);
}

.hm-indigo-strong .mask {
  background-color: rgba(63, 81, 181, 0.7);
}

.hm-cyan-strong .mask {
  background-color: rgba(0, 188, 212, 0.7);
}

.hm-teal-strong .mask {
  background-color: rgba(0, 150, 136, 0.7);
}

.hm-green-strong .mask {
  background-color: rgba(76, 175, 80, 0.7);
}

.hm-lime-strong .mask {
  background-color: rgba(205, 220, 57, 0.7);
}

.hm-yellow-strong .mask {
  background-color: rgba(255, 235, 59, 0.7);
}

.hm-orange-strong .mask {
  background-color: rgba(255, 152, 0, 0.7);
}

.hm-brown-strong .mask {
  background-color: rgba(121, 85, 72, 0.7);
}

.hm-grey-strong .mask {
  background-color: rgba(158, 158, 158, 0.7);
}

.hm-bluegrey-strong .mask {
  background-color: rgba(96, 125, 139, 0.7);
}

.hm-black-strong .mask {
  background-color: rgba(0, 0, 0, 0.7);
}

.hm-stylish-strong .mask {
  background-color: rgba(62, 69, 81, 0.7);
}

.hm-white-strong .mask {
  background-color: rgba(255, 255, 255, 0.7);
}

.hm-blue-slight .mask {
  background-color: rgba(3, 169, 244, 0.1);
}

.hm-red-slight .mask {
  background-color: rgba(244, 67, 54, 0.1);
}

.hm-pink-slight .mask {
  background-color: rgba(233, 30, 99, 0.1);
}

.hm-purple-slight .mask {
  background-color: rgba(156, 39, 176, 0.1);
}

.hm-indigo-slight .mask {
  background-color: rgba(63, 81, 181, 0.1);
}

.hm-cyan-slight .mask {
  background-color: rgba(0, 188, 212, 0.1);
}

.hm-teal-slight .mask {
  background-color: rgba(0, 150, 136, 0.1);
}

.hm-green-slight .mask {
  background-color: rgba(76, 175, 80, 0.1);
}

.hm-lime-slight .mask {
  background-color: rgba(205, 220, 57, 0.1);
}

.hm-yellow-slight .mask {
  background-color: rgba(255, 235, 59, 0.1);
}

.hm-orange-slight .mask {
  background-color: rgba(255, 152, 0, 0.1);
}

.hm-brown-slight .mask {
  background-color: rgba(121, 85, 72, 0.1);
}

.hm-grey-slight .mask {
  background-color: rgba(158, 158, 158, 0.1);
}

.hm-bluegrey-slight .mask {
  background-color: rgba(96, 125, 139, 0.1);
}

.hm-black-slight .mask {
  background-color: rgba(0, 0, 0, 0.1);
}

.hm-stylish-slight .mask {
  background-color: rgba(62, 69, 81, 0.1);
}

.hm-white-slight .mask {
  background-color: rgba(255, 255, 255, 0.1);
}

.hm-zoom img {
  transition: all 0.2s linear;
}

.hm-zoom:hover img {
  transform: scale(1.1);
}

.hm-zoom:hover .mask {
  opacity: 1;
}