body { 
    padding-top: 70px;
    padding-bottom: 70px;
}

.no-padding {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.font-large {
    font-size: 50px;
}

.font-medium {
    font-size: 25px;
}

.form-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}