<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
       
       
    
    <bean id="connectToDatabase" class="com.util.ConnectToDatabase" init-method="initMethod" scope="singleton">
<!--        <property name="databaseURL">
            jdbc:mysql://$OPENSHIFT_MYSQL_DB_HOST:$OPENSHIFT_MYSQL_DB_PORT/accommodation_provider
            jdbc:mysql://127.3.176.130:3306/
            <value>jdbc:mysql://localhost/accommodation_provider</value>
            jdbc:mysql://localhost:3036/accommodation_provider
        </property>-->
<!--        <property name="username">
            admincrkEZrF
            <value>root</value>
            root
        </property>-->
<!--        <property name="password">
            fIcxIQ5eBDjY
            <value>studevs</value>
            studevs
        </property>-->
    </bean>
    
    <bean id="userInformation" class="com.models.UserInformation" scope="singleton">
    </bean>

</beans>